/* --------------------------------------------------------- */

/* ----------------------- F O N T S ------------------------*/

/* --------------------------------------------------------- */
/* ------------- GT Haptik */

@font-face {
    font-family: 'GT Haptik';
    src: url('../webfonts/GT_Haptik/GT-Haptik-Medium-Rotalic.eot') format('eot'),
    url('../webfonts/GT_Haptik/GT-Haptik-Medium-Rotalic.otf') format('otf'),
    url('../webfonts/GT_Haptik/GT-Haptik-Medium-Rotalic.ttf') format('ttf'),
    url('../webfonts/GT_Haptik/GT-Haptik-Medium-Rotalic.woff') format('woff'),
    url('../webfonts/GT_Haptik/GT-Haptik-Medium-Rotalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ------------- GT America */

@font-face {
    font-family: 'GT America';
    src: url('../webfonts/GT_America_Standard/Regular/GT-America-Standard-Regular.eot') format('eot'),
    url('../webfonts/GT_America_Standard/Regular/GT-America-Standard-Regular.otf') format('otf'),
    url('../webfonts/GT_America_Standard/Regular/GT-America-Standard-Regular.ttf') format('ttf'),
    url('../webfonts/GT_America_Standard/Regular/GT-America-Standard-Regular.woff') format('woff'),
    url('../webfonts/GT_America_Standard/Regular/GT-America-Standard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America-medium';
    src: url('../webfonts/GT_America_Standard/Medium/GT-America-Standard-Medium.eot') format('eot'),
    url('../webfonts/GT_America_Standard/Medium/GT-America-Standard-Medium.otf') format('otf'),
    url('../webfonts/GT_America_Standard/Medium/GT-America-Standard-Medium.ttf') format('ttf'),
    url('../webfonts/GT_America_Standard/Medium/GT-America-Standard-Medium.woff') format('woff'),
    url('../webfonts/GT_America_Standard/Medium/GT-America-Standard-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ------------- GT America Mono */
@font-face {
    font-family: 'GT America Mono';
    src: url('../webfonts/GT_America_Mono/GT-America-Mono-Regular.eot') format('eot'),
    url('../webfonts/GT_America_Mono/GT-America-Mono-Regular.otf') format('otf'),
    url('../webfonts/GT_America_Mono/GT-America-Mono-Regular.ttf') format('ttf'),
    url('../webfonts/GT_America_Mono/GT-America-Mono-Regular.woff') format('woff'),
    url('../webfonts/GT_America_Mono/GT-America-Mono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* ------------- GT Sectra Display */

@font-face {
    font-family: 'GT Sectra Display';
    src: url('../webfonts/GT_Sectra_Display/Medium/GT-Sectra-Display-Medium.eot') format('eot'),
    url('../webfonts/GT_Sectra_Display/Medium/GT-Sectra-Display-Medium.otf') format('otf'),
    url('../webfonts/GT_Sectra_Display/Medium/GT-Sectra-Display-Medium.ttf') format('ttf'),
    url('../webfonts/GT_Sectra_Display/Medium/GT-Sectra-Display-Medium.woff') format('woff'),
    url('../webfonts/GT_Sectra_Display/Medium/GT-Sectra-Display-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Sectra Display-bold';
    src: url('../webfonts/GT_Sectra_Display/Bold/GT-Sectra-Display-Bold.eot') format('eot'),
    url('../webfonts/GT_Sectra_Display/Bold/GT-Sectra-Display-Bold.otf') format('otf'),
    url('../webfonts/GT_Sectra_Display/Bold/GT-Sectra-Display-Bold.ttf') format('ttf'),
    url('../webfonts/GT_Sectra_Display/Bold/GT-Sectra-Display-Bold.woff') format('woff'),
    url('../webfonts/GT_Sectra_Display/Bold/GT-Sectra-Display-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ------------- GT Sectra Fine */

@font-face {
    font-family: 'GT Sectra Fine';
    src: url('../webfonts/GT_Sectra_Fine/Regular/GT-Sectra-Fine-Regular-Italic.eot') format('eot'),
    url('../webfonts/GT_Sectra_Fine/Regular/GT-Sectra-Fine-Regular.otf') format('otf'),
    url('../webfonts/GT_Sectra_Fine/Regular/GT-Sectra-Fine-Regular.ttf') format('ttf'),
    url('../webfonts/GT_Sectra_Fine/Regular/GT-Sectra-Fine-Regular.woff') format('woff'),
    url('../webfonts/GT_Sectra_Fine/Regular/GT-Sectra-Fine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Sectra Fine-italic';
    src: url('../webfonts/GT_Sectra_Fine/Regular_Italic/GT-Sectra-Fine-Regular-Italic.eot') format('eot'),
    url('../webfonts/GT_Sectra_Fine/Regular_Italic/GT-Sectra-Fine-Regular-Italic.otf') format('otf'),
    url('../webfonts/GT_Sectra_Fine/Regular_Italic/GT-Sectra-Fine-Regular-Italic.ttf') format('ttf'),
    url('../webfonts/GT_Sectra_Fine/Regular_Italic/GT-Sectra-Fine-Regular-Italic.woff') format('woff'),
    url('../webfonts/GT_Sectra_Fine/Regular_Italic/GT-Sectra-Fine-Regular-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
