/* wrap 'n' center helpers ------------ */

/* (wrap outer) */

.wo {
    text-align: center;
    padding: 0 30px;
}

/* (pad vertical) */

.pv {
    padding-top: 65px;
    padding-bottom: 65px;
}

/* (wrap inner) */

.wo .inner {
    text-align: left;
    width: 1220px;
    max-width: 100%;
    margin: 0 auto;

}

/* (other width limits) */

.wo900 .inner {
    width: 900px;
}

/*********************************************
	Core Styles
*********************************************/

/* site containers ------------ */

/* default font, including form fields ---- */

body,
input,
textarea,
radio,
checkbox {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
    color: #1B1B1B;
}

#wrapper {
    position: relative;
}

/* --------------------------------------------------------- */

/* ------------------ N A V I G A T I O N -------------------*/

/* --------------------------------------------------------- */

nav.main-nav {
    display: block;
    position: fixed;
    width: 100%;
    top: 65px;
    left: 100px;
}

nav.main-nav h1 {
    display: inline-block;
    margin-right: 22%;
}

nav.main-nav ul {
    display: inline-block;
}

nav.main-nav ul li {
    display: inline;
}

nav.main-nav ul li:after {
    content: '—';
    padding: 0 5px;
}

nav.main-nav ul li:last-child:after {
    content: "";
    padding: 0;
}

/* --------------------------------------------------------- */

/* ------------------ T Y P O G R A P H Y -------------------*/

/* --------------------------------------------------------- */

p,
li {
    font-size: 210%;
    line-height: 1.43;
    margin: 0.75em 0;
}

li {
    margin: 0.5em 0;
}

strong,
strong {
    font-weight: 600;
}

a {
    color: #1B1B1B !important;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #0033A0 !important;
}

/* --------------------- Navigation */

nav.main-nav ul li {
    font-family: 'GT America';
    font-size: 160%;
}


/* --------------------- Headings */

h1.logo {
    font-family: 'GT America-medium';
    font-size: 160%;
}

h1.logo a,
h1.logo a:hover {
    color: #1B1B1B;
    text-decoration: none;
    border-bottom: 0;
}

.projects h1 {
    font-family: 'GT Sectra Display-bold';
    font-size: 1440%;
    line-height: 1.236;
}

.blog h1 {
    font-family: 'GT Haptik';
    font-size: 1360%;
    line-height: 1.257;
}

.about h1 {}

h2 {
    font-size: 360%;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'freight-text-pro';
    font-size: 270%;
    margin-bottom: 10px;
    margin-top: 40px;
}

h4 {
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 2px;
}

h5 {
    font-size: 200%;
    font-style: normal;
}

h6 {
    font-size: 300%;
    margin-bottom: 32px;
}

/* --------------------- Lists */

ul {
    list-style-type: disc;
}

ul ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

/* correct nested li font-size */

li li {
    font-size: 100%;
}



iframe {
    width: 100%;

}

.videoWrap {
    margin: 30px 0;
}

/*********************************************
	Button
*********************************************/

.button {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 30px;
    background: #01487f !important;
    color: white !important;
    font-size: 180%;
    text-decoration: none !important;
    line-height: 1;
}

.button:hover {
    background: #0073cb !important;
}

/* prevent font-size compounding */

p .button {
    font-size: 100%;
}


/*********************************************
	Contact Form 7
*********************************************/

.formLayer,
.formLayer .formInner {
    box-sizing: border-box;
}

.formLayer {
    padding: 0 20px 100px;
    text-align: center;
    background: white;

}

.form p {
    font-size: 100%;
    margin-top: 25px;
    display: block;
    clear: both;
}

.form p {
    font-size: 100%;
    margin-top: 25px;
    display: block;
    clear: both;
}

.form p.threeFieldDate,
.form p.twoFieldDate {
    font-size: 100%;
    margin-top: 0;

}

.form label,
.form legend {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 180%;
}

.form legend {
    margin-top: 25px;
}

.form input,
.form textarea,
.form checkbox,
.form radio {
    box-sizing: border-box;

    border: none;
    margin: 0;
    padding: 0;

    background: #e6f1f7;
    width: 600px;
    max-width: 100%;
    font-size: 180%;
    line-height: 1.2;
    padding: 10px;
    color: #29506e;
}

.form input[type="submit"] {
    cursor: pointer;
    text-align: center;
    font-size: 180%;
    width: auto;
}

.form input:focus,
.form textarea:focus {
    outline: 3px solid #4985a7;
    color: black;

}

.twoFieldDate .dateUnit {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;

    float: left;
    max-width: 50%;
    padding-right: 5px;
}

.threeFieldDate .dateUnit {
    width: 100px;
    display: inline-block;
    box-sizing: border-box;

    float: left;
    max-width: 33.33333333%;
    padding-right: 5px;
}

.threeFieldDate input {
    text-align: center;
}


.layer .wpcf7-list-item {
    display: block;
    padding-right: 20px;
    margin: 10px 0;
}

.layer .wpcf7-list-item input {
    width: auto;
    margin-right: 5px;
}

.layer .wpcf7-list-item-label {
    font-size: 180%;
}

/*********************************************
	Pagination - #navAdjacent
*********************************************/

#navAdjacent {
    box-sizing: border-box;
    background: #1c3c55;
    padding: 60px 30px;
    text-align: center;
}

.navAdjacentInner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
}

#navAdjacent .prevButton a,
#navAdjacent .nextButton a,
#navAdjacent .allButton a {
    font-size: 210%;
    font-weight: 600;
    color: white;
}

#navAdjacent .fa {
    color: #fca443;
    font-size: 150%;
    vertical-align: middle;
    padding-bottom: 5px;
}

#navAdjacent .prevButton a,
#navAdjacent .nextButton a {
    text-decoration: none;

    vertical-align: middle;

}

#navAdjacent .allButton a {
    font-size: 240%;
    font-weight: 400;
    display: block;
    width: 100%;
    text-decoration: underline;
    position: absolute;
    width: 30%;
    left: 50%;
    margin-left: -15%;

}

#navAdjacent .prevButton a {
    float: left;
}

#navAdjacent .nextButton a {
    float: right;

}

/*********************************************
	Layer - Type 1
*********************************************/

.layerBasic {}

/*********************************************
	Layer - Type 2 - etc.......
*********************************************/

/*********************************************
	Footer and Copyright
*********************************************/

#footer {}

/*********************************************
	The Awesomeness
*********************************************/

@media screen and (max-width: 1024px) {
    /* -------------------------------------------- */
}

@media screen and (max-width: 800px) {
    /* -------------------------------------------- */
    .wo {
        padding: 0 20px;
    }
    .pv {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 640px) {
    /* -------------------------------------------- */
    body {
        font-size: 55%;
    }
}

@media screen and (max-width: 480px) {
    /* -------------------------------------------- */
    .wo {
        padding: 0 15px;
    }
    .pv {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 320px) {
    /* -------------------------------------------- */
}


/*********************************************
	Game Over. User Wins.
*********************************************/
