---
title: Home
meta-description: This is the site of Andrew Boardman. Actually, this is the meta description. A designer, artist, founder of Manoverboard. There are posts and projects.
main_image: "/uploads/uploads/andy-maevedrawing.jpg"
timing-pre: At this very moment, I am
show_latest_blog: true
show_latest_project: true
show_twitter: false
custom-time-message: ''
---


{% include head.html %}
<!-- - - - - - - - - - - - - - H O M E - - - - - - - - - - - -->

<div class="home-animation-wrapper">
    <div class="text-layer">
        <span class="letter-a">A</span>
        <span class="em-dash"></span>
        <span class="letter-b">B</span>
    </div>
</div>


<div class="wo">

    {% include nav.html %}

    <main class="home inner">
        <div class="main-image-h">
            <img src="{{ page.main_image | relative_url }}">
        </div>

        <div class="content">
            <h2 class="editable">
                Andrew Boardman is a designer, artist and evolutionary finalist.
            </h2>
            <h3 class="editable">
                This is my site. It has words and pictures. It took about fifty years to make.
            </h3>
            <p class="h3">
                {{ page.timing-pre }}
                <span id="timeMessage" class="time-message"></span>
            </p>
        </div>
    </main>

    <div class="zigzag-wrapper inner">
        <div class="zigzag"></div>
    </div>

    <aside id="latestStuff" class="inner">
        <div id="latestProject">
            {% include latest_project.html %}
        </div>

        <div id="latestPost">
            {% include latest_blog.html %}
        </div>
    </aside>


    <aside id="Twitter" class="inner">
        {% include twitter.html %}
    </aside>

    {% include footer.html %}

</div>
