Note from the developer: Remember when using snippets, ensure EVERY HTML tag gets it's own line or it will not render properly. Do this by pressing enter when your cursor is before the "<". Delete this before posting.

<section class="project-column-one" markdown="1">

First Column Content
        
</section>

<section class="project-column-two" markdown="1">

Second Column Content
        
</section>