<div class="project-two-column">
<div class="project-column-one">

        *First Column Content*
        
</div>

<div class="project-column-two">

        *Second Column Content*
        
</div>
</div>