<div class="project-two-column">
<section class="project-column-one">

        *First Column Content*
        
</section>

<section class="project-column-two">

        *Second Column Content*
        
</section>
</div>