<footer class="site-footer project inner">
    <hr>
    <div class="copyright">
        <p>
            &copy; {{ 'now' | date: "%Y" }}
            <a href="{{ "/" | absolute_url }}">A—B</a>
        </p>
    </div>

    <div class="footer-nav">
        <ul>
            {% for item in site.menus.footer %}
            <li>
                <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="5B5E7037DA78A748374AD499497E309E82ABA318DA17CBEF2F152B940FD9AABE05F3F7809C87EFDE84404557915D246EBC9BCEAC0F34EE6BE0AF6E367DCC3FE1">

        <p>
            <label class="hidden" for="fieldEmail">Email</label>
            <br />
            <input id="fieldEmail" name="cm-uuudhuh-uuudhuh" type="email" class="js-cm-email-input" placeholder="email address" required />
        </p>

        <p>
            <button class="js-cm-submit-button button-small" type="submit">Subscribe</button>
        </p>

    </form>

    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js">
    </script>

    <a href="#top" id="top-button" class="kill-underlines" onclick="scrollToTop();return false">
       <img src="/../uploads/down-arrow.png" alt="Back to Top">
    </a>
    
</footer>

<script>
    // ----------------------------------------------------------
    // Back To Top
    // ----------------------------------------------------------
    function scrollToTop() {
        if (document.body.scrollTop !== 0 || document.documentElement.scrollTop !== 0) {
            window.scrollBy(0, -100);
            requestAnimationFrame(scrollToTop);
        }
    }
</script>
</body>

</html>
