{% comment %}
    Displays a twitter feed for the twitter user in _data/information.yml
    as well as the latest document from the _posts/ collection
{% endcomment %}

{% if page.show_latest_blog %}

<section class="latest-blog">
    
    <h3>Le Blog</h3>
    
    <article class="latest-post">
        {% for post in site.posts limit:1 %}
        
        <h4>{{ post.title }}</h4>
        <date>{{ post.date | date_to_string }}</date>
            
        <!-- Read more link -->
        <a href="{{ post.url | absolute_url }}">Read more<span class="hidden">: {{ post.title }}</span></a>
        
        {% endfor %}
    </article>

</section>

{% endif %}
