{% if page.show_latest_project %}
<section>
    <a class="kill-underlines" href="{{ "/projects/" | absolute_url }}">
        <h3 class="project">Projects</h3>
    </a>

    {% for project in site.projects limit:1 %}
    <article class="project">
        <a href="{{ project.url }}">
            <div class="image">
                <img src="{{ project.main_image | absolute_url }}" alt="{{ project.title }}">
            </div>
        </a>

        <div class="content">
            <h3>
                <a href="{{ project.url }}">
                    {{ project.main-title }}
                </a>
            </h3>
            <p class="excerpt">
                {{ project.project-excerpt}}
            </p>
        </div>
    </article>
    {% endfor %}

</section>
{% endif %}