{% if page.show_latest_blog %}

<section>

    <h3>Le Blog</h3>

    <article>
        {% for post in site.posts limit:1 %}

        <div class="latest-post-date">
            <p class="post-number"> 3 </p>
            <date>{{ post.date | date_to_string }}</date>
        </div>

        <h4 class="h2">{{ post.title }}</h4>

        <div class="content">
            <p class="excerpt">
                {{ post.excerpt}}
                <br> <br>
                <!-- Read more link -->
                <a href="{{ post.url | absolute_url }}">Read more<span class="hidden">: {{ post.title }}</span></a>

            </p>

            <div class="image">
                <img src="{{ post.main-image | absolute_url }}" alt="{{ post.title }}">
                <div class="blue-overlay"></div>
            </div>

        </div>


        {% endfor %}
    </article>

</section>

{% endif %}
