{% include head.html %}

{% include nav.html %}

<img src="{{ page.main-image | relative_url }}">

<main class="about">
    
    <h2>
        {{ page.sub-title }}
    </h2>
    <div>
        {{ page.description }}
    </div>
    
    <a class="button" href="{{ page.resume-link }}">
        Resume
    </a>
    
</main>

<section class="clients">
    <h3>
        {{ page.list_1_title }}
    </h3>
    
    <ul>
        {% for list in page.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
</section>

<section class="articles">
    <h3>
        {{ page.list_2_title }}
    </h3>
    
    <ul> {% for list in page.list2 %}
        <li>
            <a href="http://{{ list.link }}">
                {{ list.item }}
            </a>
        </li>
    {% endfor %} </ul>
     
</section>

<section class="talks">
    <h3>
        {{ page.list_3_title }}
    </h3>
    
   <ul> {% for list in page.list3 %}
        <li>
            <a href="http://{{ list.link }}">
                {{ list.item }}
            </a>
        </li>
    {% endfor %} </ul>
</section>


{% include footer.html %}

