{% include head.html %}
<!-- - - - - - - - - - - - - - A B O U T - - - - - - - - - - - -->

<div class="wo">

    {% include nav.html %}

    <img class="main-image-h about" src="{{ page.main-image | relative_url }}">

    <main class="about inner">
        <h1>
            {{ page.title}}
        </h1>

        <h2>
            {{ page.sub-title }}
        </h2>

        <div class="description" markdown="1">
            {{ page.about-content }}
        </div>

        <a class="button" href="{{ page.resume-link }}">
        Resume
    </a>

    </main>

    <div class="list-wrapper inner">

        <section class="clients inner about">
            <h3>
                {{ page.list_1_title }}
            </h3>

            <ul>
                {% for list in page.list1 %}
                
                {% if list.link == "" %}
                <li> {{ list.item }} </li>
                
                {% elsif list.link != "" %}
                <li>
                    <a href="{{ list.link }}">
                        {{ list.item }}
                    </a>
                </li>
                {% endif %}
                
                {% endfor %}
            </ul>
        </section>

        <section class="articles inner about">
            <h3>
                {{ page.list_2_title }}
            </h3>

            <ul> {% for list in page.list2 %}
                
                
                {% if list.link == "" %}
                <li> {{ list.item }} </li>
                
                {% elsif list.link != "" %}
                <li>
                    <a href="{{ list.link }}">
                        {{ list.item }}
                    </a>
                </li>
                {% endif %}
                
                
                {% endfor %}
            </ul>

        </section>

        <section class="talks inner about">
            <h3>
                {{ page.list_3_title }}
            </h3>

            <ul> {% for list in page.list3 %}
                
                
                {% if list.link == "" %}
                <li> {{ list.item }} </li>
                
                {% elsif list.link != "" %}
                <li>
                    <a href="{{ list.link }}">
                        {{ list.item }}
                    </a>
                </li>
                {% endif %}
                
                
                {% endfor %}
            </ul>
        </section>
    </div>


    {% include footer.html %}

</div>
