<!-- - - - - - - - - - - - - - B L O G - - - - - - - - - - - -->
<div class="wo">

    {% include head.html %} {% include nav.html %}
    <main class="blog inner">
        <h1>
            {{ page.title}}
        </h1>
        <div class="main-image-h">
            <img src="{{ page.main-image | relative_url }}">
        </div>
         
        <div class="post-wrapper">
        {% for post in site.posts %}
        
            <div class="post">
                <h2 class="post-title">
                    <a div class="kill-underlines" href="{{ post.url | absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
                
                <div class="num-and-date">
                    <p class="post-number">
                    <span class="hidden"> Post #</span>3
                    </p>
                    <date class="post-date">
                        {{ post.date | date_to_string }}
                    </date>
                </div>
                
            </div>
            
        {% endfor %}
            
        </div>
    </main>
    
     
    
    {% include footer.html %}
</div>
