{% include head.html %}
<!-- - - - - - - - - - - - - - H O M E - - - - - - - - - - - -->
<div class="wo">

    {% include nav.html %}

    <main class="home inner">
        <div class="main-image-h">
            <img src="{{ page.main-image | relative_url }}">
        </div>

        <div class="content">
            <h2>
                {{ page.main-title }}
            </h2>
            <h3>
                {{ page.sub-title }}
            </h3>
            <p class="h3">
                {{ page.timing-pre }} 
                
                {% if page.custom-time-message != "" %}
                    {{ page.custom-time-message }}
                {% else %}
    
                    {% assign hour = 'now' | date: '%H' %}
                
                    {% if hour == '8' or hour == '9' or hour == '10' or hour == '11' or hour == '12' or hour == '13' or hour == '14' or hour == '15' or hour == '16' or hour == '17' or hour == '18' %}
                        at work.
                    {% else %}
                        sleeping.
                    {% endif %}
                
                {% endif %}
                
            </p>
        </div>
    </main>

    <div class="zigzag-wrapper inner">
        <div class="zigzag"></div>
    </div>

    <aside id="latestStuff" class="inner">
        <div id="latestProject">
            {% include latest_project.html %}
        </div>

        <div id="latestPost">
            {% include latest_blog.html %}
        </div>
    </aside>


    <aside id="Twitter" class="inner">
        {% include twitter.html %}
    </aside>

    {% include footer.html %}

</div>
