{% include head.html %}
<!-- - - - - - - - - - - - - - H O M E - - - - - - - - - - - -->
<div class="home-animation-wrapper">
    <div class="text-layer">
        <span class="letter-a">A</span>
        <span class="em-dash"></span>
        <span class="letter-b">B</span>
    </div>
</div>

<div class="wo">

    {% include nav.html %}

    <main class="home inner">
        <div class="main-image-h">
            <img src="{{ page.main-image | relative_url }}">
        </div>

        <div class="content">
            <h2>
                {{ page.main-title }}
            </h2>
            <h3>
                {{ page.sub-title }}
            </h3>
            <p class="h3">
                {{ page.timing-pre }}
                <span class="time-message">
                {% if page.custom-time-message != "" %}
                    {{ page.custom-time-message }}
                {% else %}
    
                    {% assign hour = 'now' | date: '%H' %}
                
                   {% if hour == '0' or hour == '1' or hour == '2' or hour == '3' or hour == '4' or hour == '5' %}
                        sleeping away.
                    {% endif %}
                    
                    {% if hour == '6' %}
                        eating breakfast.
                    {% endif %}

                    {% if hour == '7' %}
                        on a run.
                    {% endif %}
                    
                    {% if hour == '8' %}
                        meditating.
                    {% endif %}
                    
                    {% if hour == '9' %}
                        writing.
                    {% endif %}
                    
                    {% if hour == '10' %}
                        reading something or other.
                    {% endif %}
                    
                    {% if hour == '11' %}
                        working on a project.
                    {% endif %}
                    
                    {% if hour == '12' %}
                        eating some kind of lunch.
                    {% endif %}
                    
                    {% if hour == '13' %}
                        talking briefly on the phone.
                    {% endif %}
                    
                    {% if hour == '14' %}
                        developing a plan.
                    {% endif %}
                    
                    {% if hour == '15' %}
                        somehow managing.
                    {% endif %}
                    
                    {% if hour == '16' %}
                        writing.
                    {% endif %}
                    
                    {% if hour == '17' %}
                        solving some sort of problem.
                    {% endif %}
                    
                    {% if hour == '18' %}
                        eating dinner.
                    {% endif %}
                    
                    {% if hour == '19' %}
                        avoiding the Twitter.
                    {% endif %}
                    
                    {% if hour == '20' %}
                        washing dishes/doing nothing.
                    {% endif %}
                    
                     {% if hour == '21' %}
                        working on tomorrow.
                    {% endif %}
                    
                     {% if hour == '22' %}
                        reading a book.
                    {% endif %}
                    
                     {% if hour == '23' %}
                        reading a magazine.
                     {% endif %}
                
                {% endif %}
                </span>
            </p>
        </div>
    </main>

    <div class="zigzag-wrapper inner">
        <div class="zigzag"></div>
    </div>

    <aside id="latestStuff" class="inner">
        <div id="latestProject">
            {% include latest_project.html %}
        </div>

        <div id="latestPost">
            {% include latest_blog.html %}
        </div>
    </aside>


    <aside id="Twitter" class="inner">
        {% include twitter.html %}
    </aside>

    {% include footer.html %}

</div>
