{% include head.html %}
<!-- - - - - - - - - - - - - - H O M E - - - - - - - - - - - -->
<div class="wo">

    {% include nav.html %}

    <main class="home inner">
        <div class="main-image-h">
            <img src="{{ page.main-image | relative_url }}">
        </div>

        <div class="content">
            <h2>
                {{ page.main-title }}
            </h2>
            <h3>
                {{ page.sub-title }}
            </h3>
            <p class="h3">
                {{ page.timing-pre }} 
                
                {% assign hour = 'now' | date: '%H' %}
                
                {% if hour >= 8 and <= 18 %}
                    at work.
                {% else %}
                    {{ page.custom-time-message }}
                {% endif %}
                
            </p>
        </div>
    </main>

    <div class="zigzag-wrapper inner">
        <div class="zigzag"></div>
    </div>

    <aside id="latestStuff" class="inner">
        <div id="latestProject">
            {% include latest_project.html %}
        </div>

        <div id="latestPost">
            {% include latest_blog.html %}
        </div>
    </aside>


    <aside id="Twitter" class="inner">
        {% include twitter.html %}
    </aside>

    {% include footer.html %}

</div>
