{% include head.html %}
<!-- - - - - - - - - - - - - - P A G E - - - - - - - - - - - -->

<div class="wo page">
    {% include nav.html %}

    <img class="main-image-v" src="{{ page.main-image | relative_url }}">

    <main class="inner single-post">
        <h1 class="h1">
            {{ page.title }}
        </h1>
        <h2>
            {{ page.sub-title }}
        </h2>
        <div class="content">
            {{ content }}
        </div>
    </main>

    <aside class="single-post inner">
        {{ page.sidebar_html }}
    </aside>

    {% include footer.html %}
</div>
