<!-- - - - - - - - - - - - P R O J E C T S - - - - - - - - - - - -->
{% include head.html %}

<div class="wo">

    {% include nav.html %}

    <main class="projects inner">
        <h1>
            {{ page.title}}
        </h1>

        {% for project in site.projects %}
        <div class="project">

            <a href="{{ project.url | absolute_url }}">
                <div class="image">
                    <img src="{{ project.main-image | absolute_url }}" alt="{{ project.title }}">
                    <div class="blue-overlay"></div>
                </div>
            </a>

            <div class="content">

                <h3>
                    {{ project.title }}
                </h3>
                <p class="excerpt">
                    {{ project.project-excerpt}}
                    <!-- Read more link -->
                    <a href="{{ project.url | absolute_url }}">Read more<span class="hidden">on {{ project.main-title }}</span></a>
                </p>
            </div>

        </div>
        {% endfor %}

    </main>

    {% include footer.html %}
</div>
