{% include head.html %} 
<!-- - - - - - - - - - - - P R O J E C T S - - - - - - - - - - - -->
<div class="wo">

    {% include nav.html %}

    <main class="single-project inner">
        <div class="heading">
            <h1>
                Projects
            </h1>
            <h2>
                {{ page.title }}
            </h2>

            {% if page.next.url %}
                <a class="pn-next" href="{{page.next.url}}">
                    Next
                    <span></span>
                </a>
            {% endif %} 

            {% if page.previous.url %}
                <a class="pn-previous" href="{{page.previous.url}}">
                    Previous
                    <span></span>
                </a>
            
            {% endif %} 
        </div>


        <div class="project-content">
            {{ content }}
        </div>

    </main>

    {% include footer.html %}
</div>
