{% include head.html %} 
<!-- - - - - - - - - - - - - - P O S T - - - - - - - - - - - -->

<div class="post-transition">
    <span class="post-number-transition">
        {{ page.number }}
    </span>
</div>
<div class="wo">

    {% include nav.html %}

    <article class="single-post inner">
        
        <figure class="main-image-v">
            <div class="image">
                <img src="{{ page.main-image | relative_url }}">
                <div class="blue-overlay"></div>
            </div>
            <figcaption>
                {{ page.caption }}
            </figcaption>
        </figure>
        
        <div class="heading">
            <h1 class="post-number">
                {{ page.number }}
            </h1>
            <date class="post-date">
                {{ page.date | date_to_string | date: "%B %-d, %Y" }}
            </date>
            <h2>
                {{ page.main-title }}
            </h2>
        </div>


        <div class="post">
            
            {{ content }}
            
        </div>

    </article>

    {% include footer.html %}
</div>